*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   display:flex;
   /* position:relative; */
   justify-content: center;
    background: linear-gradient(#0b0e15 , #090c12);
    font-family:sans-serif;
    color:white;
}

.container{
    display:flex;
    width: 60vw;
    height: 80vh;
    border-radius: 10px;
    background-image: url(images/dan-farrell-qayNP9ccw9E-unsplash.jpg);
    background-size: cover;
    margin-top: 65px;
   gap:30px;
   position:relative
}
.left{
    display:flex;
    flex-flow:column;
    width:60%;
    padding-left:40px;
    border-radius: inherit;

        backdrop-filter: blur(5px);
      
}
.right{
    display:flex;
    flex-flow:column;
    width:40%;
}
.icon{
    display:flex;
    flex:1;
    padding-top: 10px;
}
.logo{
    width:25px;
    height:50%
}
.icon h5{
    padding-top: 19px;
    padding-left: 10px;
}



.desc{
    display:flex;
    flex-flow:column;
    flex:2;
    gap:15px;
}
.desc p{
    font-size:0.7em;
}
.desc button{
        /* padding: 8px 26px; */
        margin-top: 20px;
        display: flex;
        /* border-radius: 41%; */
        padding: 15px 0;
        width: 130px;
        height: 25px;
        border-radius: 27px;
        border: none;
        /* text-align: center; */
        text-justify: center;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#fce64e,#d3699c, #5f58e6);
}

.desc button img{
    width: 20px;
    padding-left: 4px;
    position:relative;
    left:10px;
}




.cards{
    display:flex;
    flex:1;
}

.card{
    margin-top: 40px;
    margin-right: 30px;
}

.card p{
    font-size: 0.6em;
}

.right ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
    /* gap: 20px; */
    font-size: 0.75em;
}

.right ul li{
    /* padding-right:10px; */
    border-right:1px solid black;
    display:flex;
    flex:1;
    gap:3px;
    justify-content: center;
    align-items: center;
}
.right ul li:last-child{
    border:none;
}
.right ul li:last-child img{
    
    width: 30%;
    height: 60%;
    position: relative;
    top: -2px;
    left: -10px;

}
.right ul li img{
    width: 20%;
    height: 30%;
}
.scroll-down{
    display: flex;
    align-self: center;
    position: relative;
    top: 300px;
    left: 60px;
    font-size: 0.8em;
}
.button img{
    top: 10px;
    width: 20%;
    height: 20%;
    position: relative;
    left: 15px;
}
 .button{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 500%;
    width: 40px;
    height: 40px;
    position: relative;
    left: -10px;
    top: -10px;
    
}


.line{
    position:absolute;
    background-color: black;
    
    width: 0.7px;
    opacity:15%;
    height: 100%;
    display: flex;
    z-index: 3;}

    .line1{
        left: 40px;
    }

    .line2{
     
    left: 210px;
    height: 85%;

    }

    .line3{
        left: 443.5px;
    }

    .line4{
        left: 660px;
        height: 36.5%;
    }
    .line5{
        left: 637px;
        height: 21%;
        top:371px;
        width:1px;

        opacity:100%;
    }

    .colored-heading,.card p,.scroll-down p{
        background: -webkit-linear-gradient(#fce64e,#d3699c, #5f58e6);
   -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    }
